<p class="pageHeader">Add a New Cake</p>

<form action="/cakeshop/newcake" method="post">
    <label for="CakeType">CakeType:</label>
    <input class="inputbox" type="text" name="cakeType" required="true">

    <label for="Quantity">Portions:</label>
    <input class="inputbox" type="text" name="quantity" required="true">






    <input type="submit" value="Save" class="button">
</form>
<a href="/newcake" class="button center">Cancel</a>